*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 0;
    background-color: #eeee;
}

nav{
    background-color: black;
    color: white;
}

.heading{
    margin: 0;
    padding: 15px 15px;
    font-size: 48px;
    display: flex;
    justify-content: center;
}

.body-container{

    background-color: white;
    display: flex;
    justify-content: center;
    height: 400px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    background-color: rgb(189, 179, 179);
    align-items: center;
    width: 350px;
    height: 300px;
}

.display{

    width: 320px;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: cornsilk;

}

.btn{
    display:flex;
    width: 80px;
    height: 50px;
    padding: 13px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 25px;
}

.buttons{
    
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    width: 320px;
}